@import '../../../../assets/styles/variables';

.language-selection {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid black;
  padding: 1rem $MENU_PADDING;

  label {
    margin-bottom: 0.4rem;
  }

  select {
    padding: 0.2rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
}
