@import '../../../../assets/styles/mixins';

.weather-wrapper {
  width: 100%;
  @include flexElement(center, center);
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: rgba(213,0,0, 0.2);
  border: 1px solid rgba(81, 81, 81, 0.25);
  border-radius: 1rem;
  backdrop-filter: blur(0rem);
  filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}
