<div class="weather-wrapper" [ngClass]="{'dark-mode': isDarkMode}">
  <ng-container *ngIf="weatherData.data; else emptyData">
    <div class="grid-container">
      <div *ngFor="let data of weatherData.data | keyvalue">
        <weather-detail [header]="data.key" [contentValue]="data.key === 'location' ? weatherData.data[data.key].name : data.value"></weather-detail>
      </div>
    </div>
  </ng-container>
  <ng-template #emptyData>
    <ng-container *ngIf="!weatherData.error; else errorBlock">
      <div>{{ 'noData' | translate }}</div>
    </ng-container>
    <ng-template #errorBlock>
      <div class="error-container">{{ weatherData.error }}</div>
    </ng-template>
  </ng-template>
</div>
