@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

.main {
  min-height: 100vh;
}

.dark-mode-bg {
  background-image: radial-gradient(#2e2e2e 2px, transparent 2px), radial-gradient(#2e2e2e 2px, transparent 2px);
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
  background-color: #212121;
}

.light-mode-bg {
  background-image: radial-gradient(#dedede 3.5px, transparent 2.5px), radial-gradient(#dedede 1.5px, transparent 1.5px);
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
  background-color: #e1e7e4;
}
