<div class="input-wrapper">
  <span>
    <input
      class="input-field"
      [ngClass]="isDarkMode ? 'input-dark-mode' : 'input-light-mode'"
      id="city-input"
      type="text"
      placeholder="{{ 'enterCityName' | translate }}"
      [value]="inputValue"
      (input)="onInputChange($event)"
    />
  </span>
  <button
    [ngClass]="isDarkMode ? 'button-dark-mode' : 'button-light-mode'"
    [disabled]="isButtonDisabled"
    (click)="searchCity()">{{ 'search' | translate }}</button>
  <div class="gear"
       [ngClass]="isDarkMode ? 'gear-dark-mode' : 'gear-light-mode'" (click)="toggleSideMenu()"></div>
</div>
