<div class="input-wrapper">
  <div class="search-wrapper">
  <span>
    <input
      class="input-field"
      id="city-input"
      type="text"
      placeholder="{{ 'enterCityName' | translate }}"
      [ngClass]="isDarkMode ? 'input-dark-mode' : 'input-light-mode'"
      [value]="inputValue"
      (input)="onInputChange($event)"
      (keydown.enter)="searchCity()"
    />
  </span>
    <button
      [ngClass]="isDarkMode ? 'button-dark-mode' : 'button-light-mode'"
      [disabled]="isButtonDisabled"
      (click)="searchCity()">{{ 'search' | translate }}</button>
  </div>
  <div class="gear"
       [ngClass]="isDarkMode ? 'gear-dark-mode' : 'gear-light-mode'" (click)="toggleSideMenu()"></div>
</div>
