@import '../../../../assets/styles/mixins';
@import '../../../../assets/styles/variables';

.side-menu {
  display: flex;
  flex-direction: column;
  width: 15vw;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: auto;
  padding: 20px 0;
  z-index: 1000;
  backdrop-filter: blur(1rem);
  box-shadow: -2px 0 5px #212121;
  filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  @include laptop {
    width: 20vw;
  }
  @include tablet {
    width: 40vw;
  }
  @include mobile {
    width: 100vw;
  }
}

.side-menu-dark-mode {
  background: rgba(255, 255, 255, 0.3);
}

.side-menu-light-mode {
  background: rgba(0, 0, 0, 0.2);
}

.side-menu-header {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  height:2rem;
  padding: 0 $MENU_PADDING;

  .close {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0;
    left: 1rem;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;

    &.white-icon {
      background-image: url('../../../../assets/icons/close-white.png');
    }

    &.black-icon {
      background-image: url('../../../../assets/icons/close-black.png');
    }

    &:active {
      transform: translateY(2px) scale(0.95);
    }
  }

  span {
    text-transform: uppercase;

    &.black {
      color: #212121;
    }

    &.white {
      color: #f5f5f5;
    }
  }
}
